p {
    div {
        width: 350px;
        inline-size: 350px;
        height: 150px;
        block-size: 150px;
        margin: 10px;
        padding: 25px;
        border: 5px solid black;
      }
    background-color: green;
}

.my-grid {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 2fr;
}

.has-blue-background {
    background-color: #A7DDFF;
    border: 1px solid #721EE3;
}

.has-yellow-background {
    background-color: #FAF7A7;
    border: 1px solid #E38C1E;
}
